.searchLabel {
  height        : 18px;
  font-size     : 15px;
  font-weight   : normal;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.5;
  letter-spacing: normal;
  color         : #3e3e3c;
}

.searchLabelHeader {
  height        : 28px;
  font-size     : 18px;
  font-weight   : bold;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.5;
  letter-spacing: normal;
  color         : #3e3e3c;
  margin-bottom : 20px;
}

.grounding {
  margin-left: 40%;
  position   : relative;
  margin-top : 10%;
}

.noMatchesFrame {
  width           : 425px;
  height          : 76px;
  padding         : 14px 30px 16px 16px;
  border-radius   : 4px;
  box-shadow      : 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border          : solid 1px #dddbda;
  background-color: #ffffff;
  display         : block;
  margin          : 1% 0 0 0;

}

.noMatches {
  height        : 18px;
  font-size     : 16px;
  font-weight   : normal;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.5;
  letter-spacing: normal;
  color         : #3e3e3c;
}

.carRecordFound {
  width           : 425px;
  height          : 50px;
  margin-top      : 8px;
  padding         : 16px;
  border-radius   : 4px;
  box-shadow      : 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border          : solid 1px #dddbda;
  background-color: #ffffff;
}

.imageFound {
  width        : 162px;
  height       : 130px;
  margin       : 18px 10px 2px 2px;
  border-radius: 4px;
  box-shadow   : 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.line {
  width : 340px;
  height: 1px;
  margin: 4px 0 8px;
  border: solid 1px #c23934;
}

.label {
  width         : 85px;
  height        : 18px;
  margin        : 8px 24px 4px 0;
  font-family   : ToyotaTypeBook;
  font-size     : 12px;
  font-weight   : 600;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.5;
  letter-spacing: normal;
  color         : #3e3e3c;
}

.value {
  width         : 85px;
  height        : 18px;
  margin        : 8px 24px 4px 0;
  font-family   : ToyotaTypeBook;
  font-size     : 12px;
  font-weight   : 600;
  font-style    : normal;
  line-height   : 1.5;
  letter-spacing: normal;
  color         : #3e3e3c;
  font-weight   : normal;
}

.cardSection {
  display       : flex;
  flex-direction: row;
}

.cardContent {
  display       : flex;
  flex-direction: row;
}

.vehicleMakeModel {
  width         : 300px;
  height        : 24px;
  margin        : 0 69px 0 0;
  font-size     : 16px;
  font-weight   : bold;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.5;
  letter-spacing: normal;
  color         : #080707;
  padding-bottom: 20px;
}

.home {
  background: #f3f2f2;
  height    : 100vh;
  overflow: scroll;
}

.form {
  height  : 70vh;
  overflow: auto;
}

.customerReturnDate {
  width           : 425px;
  height          : 32px;
  margin-top      : 10px !important;
  background-color: #ffffff !important;
}

.customerReturnStyle {
  margin-top: 20px;
}

.groundVehicleMFS {
  width           : 425px;
  height          : 70px;
  margin-top      : 20px;
  padding         : 8px 16px;
  border-radius   : 4px;
  border          : solid 1px #dddbda;
  background-color: #faffbd;
}

.groundVehicleMFS p {
  width         : 339px;
  height        : 54px;
  font-family   : "ToyotaTypeBook";
  font-size     : 13px;
  font-weight   : normal;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.5;
  letter-spacing: normal;
  color         : #3e3e3c;
}

.odometer {
  width           : 425px;
  margin-top      : 20px !important;
  background-color: #ffffff !important;
}

.odometerBox {
  width     : 450px;
  margin-top: 20px !important;
}

.groundVehiclePLV {
  width           : 425px;
  height          : 70px;
  margin-top      : 20px;
  padding         : 8px 16px;
  border-radius   : 4px;
  border          : solid 1px #dddbda;
  background-color: #faffbd;
}

.groundVehiclePLV p {
  width         : 339px;
  height        : 54px;
  font-family   : "ToyotaTypeBook";
  font-size     : 13px;
  font-weight   : normal;
  font-stretch  : normal;
  font-style    : normal;
  line-height   : 1.5;
  letter-spacing: normal;
  color         : #3e3e3c;
}

.keysReturnedBox {
  margin-top: 20px !important;
}

.keysReturned {
  margin-top      : 20px !important;
  margin-right    : 10px !important;
  background-color: #ffffff !important;
}

.Rectangle-3 {
  width           : 174px;
  height          : 52px;
  margin          : 8px 23px 0 0;
  padding         : 16px;
  border-radius   : 4px;
  box-shadow      : 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border          : solid 1px #dddbda;
  background-color: #ffffff;
  display         : inline-flex;
}

.vehicleCondition {
  margin-top: 20px !important;
}

.pickUpLocationBox {
  width           : 371px;
  height          : 100px;
  margin          : 8px 0 0;
  padding         : 8px 16px;
  border-radius   : 4px;
  box-shadow      : 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border          : solid 1px #dddbda;
  background-color: #ffffff;
}

.pickUpLocation {
  margin-top: 20px;
}

.MuiStepIcon-root.MuiStepIcon-active {
  color: #0091ff !important;
}

.MuiStepIcon-root.MuiStepIcon-completed {
  color: #0091ff !important;
}

.MuiButton-containedPrimary {
  background-color: 
  #0070d2 !important;
}
.listingPageCard {
  width: 80%;
  position: relative;
  top: 60px;
  left: 5%;
  background-color: #ffffff;
  display: flex;
  margin-bottom: 20px;
}
.Year-Make-Model-Col {
  width           : 90%;
  border-radius   : 4px;
  margin-top: 8px;
  background-color: #ffffff;
}
.Vehicle-Price-Option {
  margin-top      : 8px;
  border-radius   : 4px;
  background-color: #ffffff;
  
}
div.vehicleMakeModel{
  font-size: 13px;
  width: 350px;
}
div.vehicleMakeModel1{
  font-size: 16px;
  width: 350px;
  font-weight: bold;
}
.textStyle{
  font-family: ToyotaTypeBook;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #080707;
  display: block;
}
.margin__space{
  margin-left:19%;
}
.margin__space1{
  margin-left:55%;
}
.margin__space2{
  margin-left:21.5%;
}
.margin__space3{
  margin-left:56%;
}
.margin__space4{
  margin-left:26%;
}
.margin__space5{
  margin-left:20%;
}
.margin__space6{
  margin-left:27.5% !important;
}
.textStyleTotalFee{
  font-size: 14px;
  font-weight: 800 !important;
  font-family: ToyotaTypeBook;
  color:#cc0000;
}
.totalFeeSum{
  font-size: 21px;
  font-weight: 1000 !important;
  font-family: ToyotaTypeBook;
  margin-left: 20%;
}
.textBold{
  font-weight: 1000 !important;
  font-family: ToyotaTypeBook;
}
.textSize{
  font-size: 14px;
}
.MuiCheckbox-root {
  color: #dddbda !important;
  width: 16px !important;
  height: 16px !important;
  margin: 2px 8px 2px 0 !important;
  padding: 5.2px 3.8px 6.8px 4.2px !important;
  border-radius: 2px !important;
  border: solid 1px #dddbda !important;
  background-color: #fff !important;
}
.PassonVehicleStyle {
  width: 50%;
  height: 32px;
  margin: 2px 9px 0 0!important;
  padding: 1px 28px 1px 29px;
  border-radius: 4px;
  border: solid 1px #0070d2 !important;
  color:#0070d2 !important;
  background-color: #ffffff;
  text-transform: initial !important;
}
.progressStyle{
  width:70%;
  margin: 10px 0  10px 0;
  display: flex;
}
.img {
  height: 168px;
  display: block;
  max-width: 400px;
  overflow: hidden;
  width: 100%;
  padding: 0 15px;
}
.NavigatorButtons{
  margin-top: 5px;
}
.textStyleWarning{
  color:#cc0000;
}
.MuiLinearProgress-root{
  height: 10px!important;
  width: inherit;
}
.MuiLinearProgress-barColorSecondary {
  background-color: #cc0000!important;
}
.MuiLinearProgress-colorSecondary {
  background-color: #d8d8d8!important;
}
.button{
  width: 46%;
  height: 32px;
text-transform: initial !important;
}
.purchasedScreenTotal {
  width: 240px;
  height: 2px;
  margin: 8px 0 5px;
  background-color: #dddbda;
}

.paddingCSS{
  padding: 0px!important;
}

.MuiCheckbox-colorSecondary.Mui-checked  {
  color:#0070d2 !important;
}
.checkedIcon {
  width: 20px;
  height: 20px;
  border: solid 1px #dddbda !important;
  border-Radius: 3px;
}

.nodataImage{
  width: 500px;
  height: 300px;
}
.listingPageCardNoData {
  width: 80%;
  position: relative;
  top: 20%;
  left: 30%;
  display: grid;
}
.nodataText{
  font-size: 22px;
  padding-left: 13%;
  font-weight: 300;
}
.vin{
  color: #0070d2;
  cursor: pointer;
}
