@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('//src/assets/WebFont/ToyotaType-Book.ttf');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'ToyotaTypeBook';
}

.home,
.reports,
.products,
.team,
.reports {
  align-items: center;
  justify-content: center;
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.search .fa-search { 
  position: absolute;
  top: 5px;
  left: 7px;
  border: none;
}


.row .label_control{
  margin-bottom:0px;
  padding-bottom:0px;
}
.three_column{
  float:left;
}
@font-face {
  font-family: "ToyotaTypeBook";
  src: local("ToyotaTypeBook"),
    url("../src/assets/WebFont/ToyotaType-Book.ttf") format("truetype");
  font-weight: normal;
}
.centerContents{
  position: absolute;
  left: 50%;
  top: 50%;
}
body{
  background: #f3f2f2;
}