.center-aligin-btn {
    text-align: center;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.model-top {
    margin-top: -58px !important;
}
.conditional-report-body{
    width: calc( 100% - 350px);
    padding: 15px;
}
.right-sidebar{
    width: 350px;
    position: fixed;
    top:52px;
    right:0px;
}