.myContainerLayout {
  display: flex;
  width: 100%;
}

.conditionPageCard {
    width: 100%;
    padding-top: 50px;
    // margin-top: 4%;
  // border:1px solid red;
  // margin: 10% 15% 10% 5%;
  // position: relative;
  // background: #f3f2f2;
}
.purchasesidebar {
  width: 25%;
  background-color: white;
  // border:1px solid green;
}
.conditionPageCardReports {
  // width: 70%;
  // margin: 5% 0% 0% 20%;
  // position: absolute;
  // background: #f3f2f2;
}
.reportTitle {
  // width: 350px;
  height: 30px;
  font-family: ToyotaType;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #080707;
}
.damageTitle {
  width: 100%;
  height: 30px;
  font-family: ToyotaType;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #080707;
  text-align: center;
  display: block;
}
.pendingReport {
  width: 100%;
  height: 30px;
  font-family: ToyotaType;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.25);
  text-align: center;
  display: block;
}
.Pending-Inspection-R {
  width: 165px;
  height: 20px;
  margin-left: 31%;
  font-family: ToyotaType;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.25);
}
.ConditionReportSection {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px !important;
  width: 100%;
}
.ConditionCardBody {
  margin: 8px 0px 15px;
  padding: 16px;
  border-radius: 4px;
  box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}

.ConditionReportInspection {
  width: 140px;
  height: 33px;
  padding: 4px 8px;
  border-radius: 100px;
  background-color: #04844b;
  margin-left: 245px;
  float: right;
}
.BadgeValue {
  width: 122px;
  height: 15px;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.inspectionStatusWarning {
  // width: 138px;
  // width: 238px;
  //   height: 33px;
  //   padding: 4px 18px;
  //   border-radius: 100px;
  //   //margin-left: 10px;
  background-color: #c00;
  // // margin-left: 1rem;
    height: 33px;
    padding: 4px 8px;
    border-radius: 100px;
    margin-left: 50px;
    width: 140px;
}
.ConditionCard {
  // width: 123%;
  height: 70px;
  border-radius: 4px;
  box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.ConditionCardDamage {
  width: 90%;
  margin-top: 12px;
  height: 70px;
  border-radius: 4px;
  box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.ConditionCardMargin {
  // margin-right: 25px !important;
}
.detailedReport {
  font-size: 0.685rem !important;
  font-weight: bold !important;
  border-radius: 4px;
  text-align: center;
  border: solid 1px #0070d2;
  background-color: #ffffff;
}
.disclaimer {
  height: 50px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
}
.closeButton {
  text-transform: capitalize !important;
}
.smallCardTitle {
  height: 14px;
  // margin: 0 0 10px;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  // line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #3e3e3c !important;
}
.smallCardTitle1 {
  height: 14px;
  margin: 0 0 10px;
  font-size: 11.6px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #3e3e3c;
}
.smallCardBody {
  height: 24px;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #080707;
}
.inputFieldTextArea {
  width: 100%;
  height: 180px !important;
  margin: 2px 0 0;
  padding: 8px 4px 4px 12px;
  border-radius: 4px;
  border: solid 1px #dddbda;
  background-color: #ffffff;
  resize: none;
}
.inputFieldTextAreaDamage {
  width: 100%;
  height: 80px !important;
  margin: 2px 0 0;
  padding: 8px 4px 4px 12px;
  border-radius: 4px;
  border: solid 1px #dddbda;
  background-color: #ffffff;
  resize: none;
}
.LabelTextTextArea {
  width: 94px;
  height: 18px;
  margin: 0 6px 0 0;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #3e3e3c;
}
.LabelTextTextAreaDamage {
  // height: 18px;
  margin: 5px 6px 0 0;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #3e3e3c;
}
.vehicleSectionCR {
  // width: 83%;
  margin: 16px 10px 40px 10px;
  padding: 16px 9px 32px 24px;
  border-radius: 4px;
  background-color: #ffffff;
}
.table {
  min-width: 250;
}
.MuiTableCell-root {
  border-bottom: none !important;
}
.MuiTableHead-root {
  background-color: #fafaf9;
  color: #514f4d !important;
}
.MuiTableCell-sizeSmall {
  padding: 6px 24px 6px 16px;
  color: #514f4d !important;
  font-size: 13px;
}
.MuiTableCell-alignRight {
  // font-weight: 900 !important;
}
.MuiButton-label{
  cursor: pointer;
}
.align_right {
  font-weight: 900 !important;
  font-size: 13px !important;
  line-height: 20px !important;
}
.MuiTableContainer-root {
  box-shadow: none !important;
}
.disclaimerVRS {
  margin: 7.5px 0 0;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #e02020;
}
.warningColor {
  color: #0070d2;
}
.warningColorTable {
  color: #0070d2 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}
.viewReportBody {
  width: 100%;
  margin-left: 20%;
}
.vehicleDetailsMargin {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.viewReportCards {
  box-shadow: none !important;
  padding: 10px;
  width: 150px;
}
.viewReportHeader {
  text-align: center;
  font-size: 18px;
  font-weight: 900 !important;
}
.viewReportCenter {
  // text-align: center;
  font-size: 20px;
  // margin-top: 10px;
  // margin-bottom: 10px;
  // height: 35px;
  margin: 0px 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #080707;
}
.image-gallery-svg {
  height: 50px !important;
}
.ConditionCardReportSpace {
  // margin-top: 4% !important ;
  padding-top: 15px;
}
.conditionTopBar {
  // width: 64%;
  // position: fixed;
  height: 40px;
  // top: 51px;
  z-index: 10;
  background-color: #ffffff;
  border-bottom: 1px solid lightgray;
}
.conditionTopBarStyles {
  width: 109px;
  height: 20px;
  margin: 3px 0 3px 8px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #006dcc;
  position: relative;
}
.conditionTopBarLayout {
  margin-left: 4%;
  float: right;
  padding: 8px;
}
.reportFooter {
  margin: 32px 0 0;
  padding: 12px 16px 12px 804px;
  box-shadow: 0 -2px 0 0 #dddbda;
  background-color: #f3f2f2;
}
.closeButton {
  width: 61px;
  height: 32px;
  padding: 1px 13.5px;
  border-radius: 4px;
  color: #ffffff !important;
  background-color: #3f51b5 !important;
}
.closePassBtn {
  width: 80px;
  height: 32px;
  padding: 1px 13.5px;
  border-radius: 4px;
  color: #ffffff !important;
  background-color: #0070d2 !important;
}
.galleryView {
  float: left;
}
.hrLine {
  height: 1px;
  margin: 8px 0px;
  background-color: #dddbda;
}
.alignleft {
  float: left;
}

.paddingTop {
  margin-top: 20px !important;
}
.accessoriestextStyle {
  text-transform: capitalize !important;
}
.experiorSpacing {
  padding: 0px 30px;

  .MuiList-padding{
    padding-top: 0px !important;
  }
  .MuiListItem-gutters{
    padding-left: 0px !important;
  }

}
.textStyle1 {
  color: white;
}
.errorColor {
  color: #c23934;
}
.galleryView {
  .image-gallery-image {
    // max-height: 440px !important;
    max-height: 465px !important;
  }
}
.codereportimggallery {
  // width: 26vw !important;
  .image-gallery-thumbnails-wrapper {
    width: 35vw !important;
  }
  // .image-gallery-image {
  //   max-height: 370px !important;
  // }
}
.image-gallery-thumbnail-image {
  max-height: 70px !important;
}


.accessoriestextStyle {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: left;
  padding: 5px;
}
.accessoriestinlineextStyle {
  width: 130px;
  height: 50px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
}

.image-gallery-content {
  overflow-x: hidden;
}
.textWidth {
  width: 140px;
}
.detailedReportRates {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: right;
  padding: 10px;
}
.imageReportSection {
  width: 100%;
  height: 180px;
  margin: 24px 1px 16px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.25);
  padding-top: 40px;
} 
.icontooltip{
  display: inline-flex;
}
.MuiIconButton-root{
  color: #005fb2 !important;
}
.align_right11{
  font-weight: 900px !important;

}
.icontooltip{
  margin-top: -8px;
}
