.adminSearchCard {
  width: 700px;
  position: relative;
  top: 101px;
  left: 20%;
  height: 275px;
}

.adminSearchCardBody {
  display: flex;
  padding-right: 5px;
  margin: 25px;
}

.adminSearcheader {
  text-align: center;
  display: flex;
  background-color: #000;
  background-image: linear-gradient(258deg, #000, var(--black));
}
.adminSearcheaderColor {
  color: #ffffff;
  margin-top: 20px;
}
.cover {
  width: 200px;
  padding: 2%;
}

.topBarAdmin {
  height: 48px;
  top: 50px !important;
  // padding: 7px;
  background-color: #ffffff !important;
  color: #080707 !important;
  margin: auto;
}

.tabset {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  .MuiTabs-indicator {
    bottom: unset !important;
    top: 0 !important;
    height: 3px;
    background-color: #407ed2 !important;
  }

  .Mui-selected {
    background: #e7f3fd !important;
  }
}

.tablepagination {
  .MuiTablePagination-select {
    background-color: white;
  }
}
.adminTabsSection {
  width: 100%;
  padding-top: 90px;
}
.notesSection {
  width: 280px;
  height: calc(100vh - 50px);
  background-color: #ffffff;
  z-index: 1110 !important;
  position: sticky;
  top: 50px;
  overflow-y: auto;
  box-shadow: 1px 2px 4px #969696;
}

.manualPricingSidebar {
  height: calc(100vh - 53px);
  // min-height: 500px;
  // height: 100vh;
  background-color: #ffffff;
  z-index: 3 !important;
  // margin-left: ; // 80%
  position: fixed;
  // top: 40px;
  // right: 3%;
  margin-top: 52px;
  box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  // min-width: 350px;
}
.updatePricingSidebar {
  height: calc(100vh - 53px);
  // min-height: 500px;
  // height: 100vh;
  background-color: #ffffff;
  z-index: 1110 !important;
  // margin-left: ; // 80%
  position: sticky;
  top: 50px;
  // right: 3%;
  // margin-top: 52px;
  box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.25);
  min-width: 350px;
  overflow-y: auto;
}
.swipeFilterBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #fff;
}

.purchasePassBtn {
  // position: absolute !important;
  // bottom: 65px;
  // left: 10px;
  // padding: 20px 16px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: #fff;
}

.passButton {
  width: 140px;
  height: 32px;
  margin: 0 8px 0 0;
  padding: 1px 6px 1px 7px;
  border-radius: 4px;
  border: solid 1px #0070d2 !important;
  font-size: 0.65rem !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5 !important;
}

.purchaseButton {
  width: 140px;
  height: 30px;
  font-size: 0.65rem !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5 !important;
  letter-spacing: normal;
  text-align: center;
  color: #fff !important;
  background: #0070d2 !important;
  border-radius: 4px !important;
  border: solid 1px grey !important;
}

.updateButton {
  padding: 4px 8px;
  min-width: 114px;
  border-radius: 4px;
  color: #ffffff !important;
  background: #0070d2 !important;
}

.cancelButton {
  padding: 4px 8px;
  min-width: 88px;
  border-radius: 4px;
  color: #50708d !important;
  border: solid 1px #dddbda;
  background-color: #ffffff;
}

.notesText {
  min-height: 130px;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: solid 1px #dddbda;
  background-color: #ffffff;
}

.manualPricing {
  display: block;
  max-width: 60%;
  width: 100%;
}

.manualPricingText {
  display: block;
  width: 216px;
  margin: 0 0 16px 0;
  padding: 5px 12px 5px;
  border-radius: 4px;
  border: solid 1px #dddbda;
  background-color: #ffffff;
}

.notesTextContent {
  font-size: 13px;
}

.notesSectionHeader {
  // width: 264px;
  height: 47px;
  padding: 10px 12px;
  box-shadow: 0 1px 0 0 #dddbda;
  background-color: #ffffff;
}

.notesSectionContent {
  // width: 217px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #3e3e3c;
}

.custompagination {
  .MuiPagination-ul {
    background-color: white;
  }
  .MuiPaginationItem-root {
    margin: 0px;
    border-radius: 0px;
  }
  .MuiPaginationItem-outlinedPrimary.Mui-selected {
    color: #ffffff !important;
    border: 1px solid #407ed2 !important;
    background-color: #407ed2 !important;
  }
}

.MuiTableCell-head {
  font-weight: 600 !important;
}

.PrivateSwitchBase-root-79 {
  padding: 0px !important;
}
.MuiIconButton-root {
  padding: 0px !important;
}
.MuiTypography-body1 {
  color: #01070c !important;
}
.MuiTab-root {
  text-transform: none !important;
}

.MuiTableSortLabel-root {
  display: flex !important;
  justify-content: space-between !important;
}
.tableSortIcon {
  width: 10px;
}

.resultForVin {
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #080707;
}

.topBarAdmin {
  .MuiTabs-indicator {
    height: 3px !important;
    top: 0 !important;
    background-color: #006fd0 !important;
  }
  .Mui-selected {
    background-color: rgba(21, 137, 238, 0.1) !important;
  }
}

.deviderred {
  background-color: #c23934 !important;
}
