.adminSearchCard{
    width: 700px;
    position: relative;
    top: 250px;
    left: 35%;
    height: 250px;
}
.adminSearchCardBody{
    display: flex;
    padding-right: 5px;
    margin: 25px;
}
.adminSearcheader{
    text-align: center;
}