.mainMenu{
    display: flex;
  color: #e1e9fc;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0px 20px 34px;
  list-style: none;
  height: 60px;
  text-decoration: none;
  font-size: 15px;
  color:#495057;
  box-shadow: 0 1px 0 0 #dddbda;
}
.-Background-Color {
    width: 32px;
    height: 32px;
    padding: 5px;
    margin: 10px;
    border-radius: 4px;
    border: solid 1px #dddbda;
    background-color: #ffffff;
    &:hover {
        background: #f1f1f1;
        cursor: pointer;
        color:#495057;
      }
  }
  .st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #706e6b !important;
}
  .closeIcon{
    &:hover {
        background: #f1f1f1;
        cursor: pointer;
        color:#495057;
      }
  }

.MuiTypography-body1{
  font-family: "ToyotaTypeBook" !important;
}