.sidebarlink {
	display: flex;
	color: #e1e9fc;
	justify-content: flex-start;
	align-items: center;
	padding: 20px 40px;
	list-style: none;
	height: 60px;
	text-decoration: none;
	font-size: 18px;
	color: #495057;
}
.searchDiv {
	width: 10%;
	padding: 1%;
}