.container {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    z-index: 8;
    top: 0px;
  }
.imageHolder {
  padding: 8px 40px 2px;
  display: inline-flex;
  width: 100%;
}
.textStyle1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .textStyleGray {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #D3D3D3;


  }
  .auctionSales {
    width: 280px;
    height: 20px;
    margin:  5px 0 7px 15.5px;
    font-family: ToyotaType;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: #080707;
  }
  .dealerName {
    width: 150px;
    height: 20px;
    padding: 15px 0 7px 8px;
    font-family: ToyotaType;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: #080707;
    display: inline-flex;
    float: right;
    cursor: pointer;
  }
